  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab"  role="tab" aria-controls="home" aria-selected="true">Users</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab"  data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false">User Profile</a>
    </li>
  </ul>
<div class="tab-content" id="myTabContent">
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Users list</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Email</th>
            <th>Image</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Email</th>
            <th>Image</th>
          </tr>
        </tfoot>
        <tbody>          
            <tr *ngFor="let userArray of usersArray; let i = index" [attr.data-index]="userArray.id"  (click)="goToUserProfile(userArray.id)">
              <td>{{ userArray.first_name}}</td>
              <td>{{ userArray.last_name}}</td>
              <td>{{ userArray.email}}</td>
              <td>{{ userArray.avatar}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>